.pageHeadingWrapper {
  padding-left: 20px;

  *+* {
    margin-top: 5px;
  }
}

.pageHeading {
  font-size: 30px;
  margin: 0;
}

.pageHeadingList {
  padding: 0;
  margin-bottom: 0;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

#set {
	grid-template-columns: max-content min-content;
	place-items: center start;
	column-gap: 1em;
	display: grid;
}